<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime sku=".NETFramework,Version=v4.8" version="v4.0"/>
    </startup>
    <appSettings>
		<add key="SMTP_SERVER" value="COLT-EX2010.colt.com"/>
		<add key="SMTP_SERVER" value="colt-com.mail.protection.outlook.com"/>

		<add key="sourceEmail" value="rcousens@colt.com"/>

		<add key="destEmail" value="arankin@colt.com"/>
		<add key="destEmail" value="rcousens@colt.com"/>
	</appSettings>
</configuration>
